<p>Attraction Show Page</p>
<p><%= @attraction.name %></p>
<p>Tickets Price: <%= @attraction.tickets %></p>
<p>Nausea Rating: <%= @attraction.nausea_rating %></p>
<p>Happiness Rating: <%= @attraction.happiness_rating %></p>
<p><%= button_to "Go on this ride", "/rides/new" %></p>